body{
    background-color: red;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



@media  only  screen {
    
}